<div id="footer">
	<div class="container">
		<div class="row 200% uniform">
			<section class="4u 12u$(medium) 12u$(small)">
				<header class="major">
					<h3>About</h3>
				</header>
				<p>I am Ho-Yi Sun, will graduate from the polymer science and engineering master program of National Taiwan University. Combining the problem solving experience gained from both research environment and real live business challenges, I believe I am equipped with the critical ability of pinpointing and strategically tackling real business problems.</p>
				<ul class="actions">
					<li><a href="/resume" class="button alt">Learn More</a></li>
				</ul>
			</section>
			<section class="4u 6u(medium) 12u$(small)">
				<header class="major">
					<h3>Skills</h3>
				</header>
				<ul class="labeled-icons">
					<li>
						<h4 class="icon fa-flask"><span class="label">Engineering</span></h4>
						CVD, SEM, Surface Modification
					</li>
					<li>
						<h4 class="icon fa-file-code-o"><span class="label">Coding</span></h4>
						Node.js, React Native, Wordpress
					</li>
					<li>
						<h4 class="icon fa-briefcase"><span class="label">Business</span></h4>
						Problem Solving, Analytical Thinking
					</li>
				</ul>
			</section>
			<section class="4u$ 6u$(medium) 12u$(small)">
				<header class="major">
					<h3>Contact</h3>
				</header>
				<ul class="labeled-icons">
					<li>
						<h4 class="icon fa-envelope"><span class="label">Email</span></h4>
						<a href="mailto:iansuny@gmail.com">iansuny@gmail.com</a>
					</li>
					<li>
						<h4 class="icon fa-facebook"><span class="label">Facebook</span></h4>
						<a target="_blank" href="https://www.facebook.com/iansuny">Facebook</a>
					</li>
					<li>
						<h4 class="icon fa-instagram"><span class="label">Instagram</span></h4>
						<a target="_blank" href="https://www.instagram.com/iansuny/">Instagram</a>
					</li>
					<li>
						<h4 class="icon fa-linkedin"><span class="label">LinkedIn</span></h4>
						<a target="_blank" href="https://www.linkedin.com/in/iansuny">LinkedIn</a>
					</li>
				</ul>
			</section>
		</div>
	</div>
	<div class="copyright">
		&copy; 2016 Ho-Yi Sun. All rights reserved.
	</div>
</div>