<h1 id="logo"><a href="/">Ho-Yi Sun</a></h1>
<p>孫合毅</p>
<nav id="nav">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/resume">Resume</a></li>
		<li><a href="/research">Research</a></li>
		<li><a href="/business">Business Projects</a></li>
		<li><a href="/code">Coding Projects</a></li>
		<li><a href="/award">Awards</a></li>
	</ul>
</nav>