<!DOCTYPE html>
<html>
	<head>
		<title>Awards | Ho-Yi Sun</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<%- partial('components/script') %>
	</head>
	<body>

		<!-- Header -->
			<div id="header">
				<%- partial('components/nav') %>
			</div>			

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="container">
					<section class="feature">
						<div class="row 200%">
							<div class="9u 12u$(medium)">
								<header class="major">
									<h2>NTU Seed Fund</h2>
									<p>0.5 Million Seed Fund</p>
								</header>
								<p>Our team Established a value sharing platform bridging idle mileage owners and flight demands, and received total of 0.5 M NTD seed fund from Taiwan’s ministry of technology and NTU Seed Fund.</p>
							</div>
							<div class="3u$ 12u$(medium) important(medium)">
								<span class="image fit rounded">
									<img src="/images/award/ntutec.png"/>
								</span>
							</div>
						</div>
					</section>
					<section class="feature">
						<div class="row 200%">
							<div class="3u 12u$(medium)">
								<span class="image fit rounded">
									<img src="/images/award/atcc.jpg" class="rounded" />
								</span>
							</div>
							<div class="9u$ 12u$(medium)">
								<header class="major">
									<h2>ATCC Case Competition</h2>
									<p>Representative of IBM, 3rd Place in Final Round</p>
								</header>
								<p>We cooperated with IBM to integrate a nonprofit organization The Alliance Cultural Foundation with productivity tools, enhance the efficiency by 3 times. In addition, the program assisted education and development in countryside with the aim of affecting more than 3,000 children.</p>
							</div>
						</div>
					</section>
					<section class="feature">
						<div class="row 200%">
							<div class="9u 12u$(medium)">
								<header class="major">
									<h2>The 5th Asian Biomaterial Congress</h2>
									<p>Best Student Oral Presentation Award</p>
								</header>
								<p>Asian Biomaterial Congress provides premier forum for reporting newly research outcomes and for exchanging creative ideas of biomaterials development among researchers, engineering and medical experts in Asian and Pacific regions and others from America and Europe. The topics of scientific program will encompass the fields of biomaterials science and engineering, biotechnology, biomechanics, clinical science and applications.</p>
							</div>
							<div class="3u$ 12u$(medium) important(medium)">
								<span class="image fit rounded">
									<img src="/images/award/abmc.png"/>
								</span>
							</div>
						</div>
					</section>
				</div>
			</section>

		<%- partial('components/footer') %>

	</body>
</html>