<!DOCTYPE html>
<html>
	<head>
		<title>Business Projects | Ho-Yi Sun</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<%- partial('components/script') %>
	</head>
	<body>

		<!-- Header -->
			<div id="header">
				<%- partial('components/nav') %>
			</div>			

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="container">
					<section class="feature">
						<div class="row 200%">
							<div class="8u 12u$(medium)">
								<header class="major">
									<h2>Taipei Wellness Clinic and Resort 台北國際醫旅</h2>
									<p>Adviced by BCG to develope annual marketing strategy</p>
								</header>
								<p>Our team collaborated with Taipei Beitou Health Management Hospital to undergo a medical market survey, then coming up with annual marketing strategy with the aim of double the sales of physical examination.</p>
							</div>
							<div class="4u$ 12u$(medium) important(medium)">
								<span class="image fit">
									<img src="/images/business/twcr.jpg"/>
								</span>
							</div>
						</div>
					</section>
					<section class="feature">
						<div class="row 200%">
							<div class="4u 12u$(medium)">
								<span class="image fit">
									<img src="/images/business/papid.png"/>
								</span>
							</div>
							<div class="8u$ 12u$(medium)">
								<header class="major">
									<h2>Papid’s House Social Innovation 想要有社會創新專案</h2>
									<p>Business Innovation and Sustainable Operation for Social Enterprise</p>
								</header>
								<p>I organized a project team and developed two products, offering the mentally disabled children a chance to reach economic independence. The project is amined to  help the mentally disabled children who sell cookies on street or MRT station to develop a more efficient distribution channel. THe goal is to build a e-commerce platform for them to expand their sales range nationwide. With various marketing and public relation strategies, our team successfully raised 1 million dollars and worked with the social welfare organization to establish a online business platform, so the children can focus on baking instead of selling cookies out on the street.</p>
								<ul class="actions">
									<li><a target="_blank" href="http://52.68.165.75" class="button alt">View</a></li>
								</ul>
							</div>
						</div>
					</section>
					<section class="feature">
						<div class="row 200%">
							<div class="8u 12u$(medium)">
								<header class="major">
									<h2>Rainbow Tribe’s hope 彩虹故鄉的願望</h2>
									<p>Raising money for Tribe Reconstruction</p>
								</header>
								<p>Our team construct an EC platform within a month, sold 4,000 Sunny Cake products in 8 weeks and generated 1.7 million NTD in revenue and 1 million NTD in profit. In addition, we built a marketing plan to attain sponsorship of website resource from AWS, another 50,000 NTD in revenue from 17 Life and additional 100 thousand NTD reward from E.SUN BANK</p>
								<ul class="actions">
									<li><a target="_blank" href="http://code.kpman.cc/rainbowhope/" class="button alt">View</a></li>
								</ul>
							</div>
							<div class="4u$ 12u$(medium) important(medium)">
								<span class="image fit">
									<img src="images/business/rainbow.png"/>
								</span>
							</div>
						</div>
					</section>
				</div>
			</section>

		<%- partial('components/footer') %>

	</body>
</html>