<!DOCTYPE html>
<html>
	<head>
		<title>Business Projects | Ho-Yi Sun</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<%- partial('components/script') %>
	</head>
	<body>

		<!-- Header -->
			<div id="header">
				<%- partial('components/nav') %>
			</div>			

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="container">
					<section class="feature">
						<div class="row 200%">
							<div class="8u 12u$(medium)">
								<header class="major">
									<h2>台北國際醫旅</h2>
									<p>與 BCG 合作</p>
								</header>
								<p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quisgravida id, est. Sed lectuisto. Praesent lorem ipsum dolor sit amet blandit elementum hendrerit dolor sit amet feugiat. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing.</p>
								<ul class="actions">
									<li><a href="/publication" class="button alt">了解更多</a></li>
								</ul>
							</div>
							<div class="4u$ 12u$(medium) important(medium)">
								<span class="image fit rounded">
									<img src="images/pic01.jpg" alt="" />
								</span>
							</div>
						</div>
					</section>
					<section class="feature">
						<div class="row 200%">
							<div class="4u 12u$(medium)">
								<span class="image fit rounded">
									<img src="images/pic02.jpg" alt="" class="rounded" />
								</span>
							</div>
							<div class="8u$ 12u$(medium)">
								<header class="major">
									<h2>想要有社會創新專案</h2>
									<p>協助熊米屋愛心烘焙坊研發新產品、創新商業模式並募款新台幣 100 萬</p>
								</header>
								<p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quisgravida id, est. Sed lectuisto. Praesent lorem ipsum dolor sit amet blandit elementum hendrerit dolor sit amet feugiat. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero faucibus.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">前往 研討會</a></li>
								</ul>
							</div>
						</div>
					</section>
					<section class="feature">
						<div class="row 200%">
							<div class="8u 12u$(medium)">
								<header class="major">
									<h2>Boston Consulting Group</h2>
								</header>
								<p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quisgravida id, est. Sed lectuisto. Praesent lorem ipsum dolor sit amet blandit elementum hendrerit dolor sit amet feugiat. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing.</p>
								<ul class="actions">
									<li><a href="/publication" class="button alt">了解更多</a></li>
								</ul>
							</div>
							<div class="4u$ 12u$(medium) important(medium)">
								<span class="image fit rounded">
									<img src="images/pic01.jpg" alt="" />
								</span>
							</div>
						</div>
					</section>
				</div>
			</section>

		<%- partial('components/footer') %>

	</body>
</html>