<!DOCTYPE html>
<html>
	<head>
		<title>Coding Projects | Ho-Yi Sun</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<%- partial('components/script') %>
	</head>
	<body>

		<!-- Header -->
			<div id="header">
				<%- partial('components/nav') %>
			</div>			

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="container">
					<section class="feature">
						<div class="row 200%">
							<div class="8u 12u$(medium)">
								<header class="major">
									<h2>Bear House E-Comerence Website 熊米屋愛心烘焙坊</h2>
									<p>Wordpress, CSS, 3rd Party Payment, Google Analytics</p>
								</header>
								<p>The followup project after "Papid’s House Social Innovation." A recreation of the offical website of Bear House, with fully functioned e-commerence system as well as social monitoring, CRM and SEO.</p>
								<ul class="actions">
									<li><a target="_blank" href="http://52.193.123.73" class="button alt">View</a></li>
								</ul>
							</div>
							<div class="4u$ 12u$(medium) important(medium)">
								<span class="image fit">
									<img src="/images/code/bearhouse.jpg"/>
								</span>
							</div>
						</div>
					</section>
					<section class="feature">
						<div class="row 200%">
							<div class="4u 12u$(medium)">
								<span class="image fit">
									<img src="/images/code/theuglyproduce.png"/>
								</span>
							</div>
							<div class="8u$ 12u$(medium)">
								<header class="major">
									<h2>The Ugly Produce Website 醜蔬果大翻身</h2>
									<p>Sails.js, AngularJS, CSS, Google Analytics</p>
								</header>
								<p>The Ugly Produce established a social-enterprise which promoted the organic b-class produce to combat food waste, and build up business model which has sold out 120 kg produce and created a NT$ 310,000 turnover.</p>
								<ul class="actions">
									<li><a target="_blank" href="http://theuglyproduce.com" class="button alt">View</a></li>
								</ul>
							</div>
						</div>
					</section>
					<section class="feature">
						<div class="row 200%">
							<div class="8u 12u$(medium)">
								<header class="major">
									<h2>Mercury Bottle Message Website 瓶中信</h2>
									<p>Node.js, CSS, Google Analytics</p>
								</header>
								<p>Mercury is a social platform that creates pen pal friendship. It’s a social network that starts from creators and contents. We encourage users to share their story deeply first and let their soul mates find them. According to our observation, nowadays, as a result of the photo-oriented model applied by most social platforms, their users often base their decision of whether to continue interacting with one another on their “looks”. Thus it’s quite difficult for the interactions between users to reach a higher, deeper level. By taking the personal factors such as appearance and gender out of the equation, Mercury provides a brand new way of establishing friendship through the content users share with each other.</p>
								<ul class="actions">
									<li><a target="_blank" href="http://mercury.world" class="button alt">View</a></li>
								</ul>
							</div>
							<div class="4u$ 12u$(medium) important(medium)">
								<span class="image fit">
									<img src="/images/code/mercury.png"/>
								</span>
							</div>
						</div>
					</section>
				</div>
			</section>

		<%- partial('components/footer') %>

	</body>
</html>