<!DOCTYPE html>
<html>
	<head>
		<title>Conference | Ho-Yi Sun</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<%- partial('components/script') %>

	</head>
	<body>

		<!-- Header -->
			<div id="header">
				
				<%- partial('components/nav') %>

			</div>			

		<!-- Main -->
			<section id="main">
				<div class="container">
					<header class="major">
						<h2>Conference</h2>
					</header>

					<!-- Content -->
						<section id="content">
							<header>
								<h3>Electrically-Induced Selectivity of Functional Poly-<i>p</i>-xylylenes Deposition</h3>
								<p>251st ACS National Meeting & Exposition</p>
							</header>
							<ul class="actions">
								<li><a target="_blank" href="http://www.acs.org/content/acs/en/meetings/spring-2016.html" class="button alt">View</a></li>
							</ul>
						</section>

						<hr />

						<section id="content">
							<header>
								<h3>Robust Coating of Functionalized Parylene on Biofunctional Surface Modification</h3>
								<p>TACT 2015 International Thin Films Conference</p>
							</header>
							<ul class="actions">
								<li><a target="_blank" href="http://tact2015.conf.tw/" class="button alt">View</a></li>
							</ul>
						</section>

						<hr />

						<section id="content">
							<header>
								<h3>Robust Adherent Films of Functionalized Poly-p-xylylene on Biomaterial Surface Applications</h3>
								<p>The 9th Conference of Aseanian Membrane Society</p>
							</header>
							<ul class="actions">
								<li><a target="_blank" href="http://www.ams9.org" class="button alt">View</a></li>
							</ul>
						</section>

						<hr />

						<section id="content">
							<header>
								<h3>Robust Adherent Property of Functionalized Poly-p-xylylene for Biomaterial Surface Modification</h3>
								<p>European Materials Research Society 2015 Spring Meeting</p>
							</header>
							<ul class="actions">
								<li><a target="_blank" href="http://www.european-mrs.com" class="button alt">View</a></li>
							</ul>
						</section>

						<hr />

						<section id="content">
							<header>
								<h3>Robust Coating of Functionalized Poly-p-xylylene for Biomaterial Surface Modification</h3>
								<p>The 5th Asian Biomaterials Congress</p>
							</header>
							<ul class="actions">
								<li><a target="_blank" href="http://abmc5.com.tw" class="button alt">View</a></li>
							</ul>
						</section>
				</div>
			</section>

		<%- partial('components/footer') %>

	</body>
</html>