<!DOCTYPE html>
<html>
	<head>
		<title>孫合毅 | Ho-Yi Sun</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<%- partial('components/script') %>
	</head>
	<body class="landing">

		<!-- Header -->
			<div id="header" class="alt">
				<%- partial('components/nav') %>
			</div>

		<!-- Banner -->
			<section id="banner">
				<h2>Ambitious and Passionate</h2>
				<p>Combining the problem solving experience from <br />
				research environment and real live business challenges</p>
			</section>

		<!-- Partner -->
			<!-- <section id="partner" class="wrapper style1 special">
				<div class="container">
					<header class="major">
						<h2>Collaborated with</h2>
					</header>
				</div>
				<section class="carousel">
					<article>
						<img src="images/thumbs/bcg.png" title="Lorem ipsum dolor sit amet" />
					</article>
					<article>
						<img src="images/thumbs/ibm.png" title="Lorem ipsum dolor sit amet" />
					</article>
					<article>
						<img src="images/thumbs/eb.png" title="Lorem ipsum dolor sit amet" />
					</article>
					<article>
						<img src="images/thumbs/tbhmh.png" title="Lorem ipsum dolor sit amet" />
					</article>
					<article>
						<img src="images/thumbs/cep.png" title="Lorem ipsum dolor sit amet" />
					</article>
					<article>
						<img src="images/thumbs/acf.png" title="Lorem ipsum dolor sit amet" />
					</article>
					<article>
						<img src="images/thumbs/papid.png" title="Lorem ipsum dolor sit amet" />
					</article>
				</section>
			</section> -->
		<%- partial('components/footer') %>
	</body>
</html>