<!DOCTYPE html>
<html>
	<head>
		<title>Publication and Patent | Ho-Yi Sun</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<%- partial('components/script') %>

	</head>
	<body>

		<!-- Header -->
			<div id="header">
				
				<%- partial('components/nav') %>

			</div>			

		<!-- Main -->
			<section id="main">
				<div class="container">
					<header class="major">
						<h2>Publication and Patent</h2>
					</header>

					<!-- Content -->
						<section id="content">
							<header>
								<h3>Electrically-Charged Selectivity of Poly-para-xylylenes Deposition (2016)</h3>
								<p>
									Chemical Communications
									<br />
									DOI: 10.1039/C5CC08059B
								</p>
							</header>
							<p>
								The bottom-up patterning approach provides intrinsic advantages associated with unlimited resolution but is limited by the materials available for selection. A general and simple approach towards the selective deposition of poly-para-xylylenes is introduced in this communication. The chemical vapour deposition (CVD) of poly-para-xylylenes is inhibited on the high-energy surfaces of electrically charged conducting substrates. This technology provides an approach to selectively deposit poly-para-xylylenes irrespective of the substituted functionality and to pattern these polymer thin films from the bottom up.
							</p>
							<ul class="actions">
								<li><a target="_blank" href="http://pubs.rsc.org/en/content/articlelanding/2016/cc/c5cc08059b#!divAbstract" class="button alt">View</a></li>
							</ul>
						</section>

						<hr />

						<section id="content">
							<header>
								<h3>Fabrication of Multipotent Poly-para-xylylene Particles in Controlled Nanoscopic Dimensions (2016)</h3>
								<p>
									Colloids and Surfaces B: Biointerfaces
									<br />
									DOI: 10.1016/j.colsurfb.2015.12.022
								</p>
							</header>
							<p>In this study, poly-para-xylylene-based multifunctional nanoparticles (PPX-NPs) were fabricated. Based on the solubility characteristics determined for asymmetrically substituted poly-para-xylylenes in polar solvents, well-dispersed nanocolloids with a controllable size ranging from 50 to 800 nm were produced in solution by the displacement of the solvent (water). These size ranges were found to have acceptable cellular compatibility through examinations of cultured 3T3 fibroblasts and adipose-derived stem cells treated with the PPX-NPs. In addition, these nanoscale PPX-NPs exhibited versatile bioconjugation properties in that a variety of available functional groups can be adopted from their counterpart, thin-film poly-para-xylylenes, during the production of these nanoparticles. For instance, bifunctional PPX-NPs with maleimide and benzoyl moieties were produced to enable immobilization via a maleimide-thiol reaction concurrent with a photochemical reaction. A cleavable PPX-NP was also produced with a thiol-exchangeable surface property. Additionally, by performing electrohydrodynamic jetting of parallel polymer solutions of selected poly-para-xylylenes, Janus-type or multicompartment PPX-NPs were created. The PPX-NPs can potentially be used for various biomedical applications such as combined diagnostics and drug delivery, multiplexing of detection, multiple-drug loading, and the targeted delivery of biomolecules or drugs.</p>
							<ul class="actions">
								<li><a target="_blank" href="http://www.sciencedirect.com/science/article/pii/S0927776515303726" class="button alt">View</a></li>
							</ul>
						</section>

						<hr />

						<section id="content">
							<header>
								<h3>Polymer Particle and Preparation Method Thereof (2015)</h3>
								<p>
									United States Patent
									<br />
									20150307653
								</p>
							</header>
							<p>Provided is a poly-p-xylyene having at least one chemically active functional group present in a form of particles. In an embodiment, the functionalized poly-p-xylylene is synthesized via CVD, and electrospinning is then performed at a relatively low polymer concentration, so as to produce functionalized poly-p-xylylene particles. The functionalized poly-p-xylyene particles have a particle size at nano-scale or micro-scale. Such functionalized poly-p-xylyene particles can be applied to biological fields extensively.</p>
							<ul class="actions">
								<li><a target="_blank" href="http://www.freepatentsonline.com/y2015/0307653.html" class="button alt">View</a></li>
							</ul>
						</section>

						<hr />

						<section id="content">
							<header>
								<h3>Thiol-Reactive Parylenes as a Robust Coating for Biomedical Materials (2014)</h3>
								<p>
									Advanced Materials Interfaces
									<br />
									DOI: 10.1002/admi.201400093
								</p>
							</header>
							<p>Vapor-based thiol-reactive coatings that are composed of maleimide and vinyl anchoring groups can effectively tailor surface properties through specific conjugation reactions and create biological functions. The coating technology provides a robust adherent to a variety of substrate materials and devices. Suppressed protein fouling property and controlled endothelial cell attachment is demonstrated by using the advanced coating technique.</p>
							<ul class="actions">
								<li><a target="_blank" href="http://onlinelibrary.wiley.com/doi/10.1002/admi.201400093/abstract" class="button alt">View</a></li>
							</ul>
						</section>

				</div>
			</section>

		<%- partial('components/footer') %>

	</body>
</html>