<!DOCTYPE html>
<html>
	<head>
		<title>Research | Ho-Yi Sun</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<%- partial('components/script') %>
	</head>
	<body>

		<!-- Header -->
			<div id="header">
				<%- partial('components/nav') %>
			</div>			

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="container">
					<section class="feature">
						<div class="row 200%">
							<div class="9u 12u$(medium)">
								<header class="major">
									<h2>Research</h2>
									<p>Mainly fucus on the following topics.</p>
								</header>
								<h3>Biointerface Engineering</h3>
								<p>Latest advancements in biomaterials aim to control biological responses. The critical criteria for designing biointerfaces include controlled properties of biomolecules, non-fouling, compatibility with microfabrication, accessible within microgeometries, applicability on 3-D objects, defined microstructures, cell/surface responses, biodegradability, and the ability to create surface gradient.  Our group has focused on engineering of biointerface by using vapor-based reactive polymers. Recent works include: 1. Non-fouling modification 2. Chemical and topographical modification for directed biological response 3. Surface modification of microfluidic system.</p>
								<h3>Vapor-Based Functional Polymer Coating</h3>
								<p>Functionalized poly(p-xylylenes) constitute an versatile class of Reactive Polymers that can be prepared in a solventless process via chemical vapor deposition (CVD) polymerization. The resulting ultra-thin coatings are typically pinhole-free and can be conformally deposited onto a wide range of substrates and materials. More importantly, equipped functional groups can serve as anchoring sites for tailoring of biointerface properties via immobilization of biomolecules. These Reactive Polymers represent a powerful tool of surface engineering for applications in biotechnology.</p>
								<ul class="actions">
									<li><a href="/research/publication" class="button alt">View Publication</a></li>
									<li><a href="/research/conference" class="button alt">View Conference</a></li>
								</ul>
							</div>
							<div class="3u$ 12u$(medium) important(medium)">
								<span class="image fit rounded">
									<img src="/images/research/lab.png"/>
								</span>
							</div>
						</div>
					</section>
				</div>
			</section>

		<%- partial('components/footer') %>

	</body>
</html>