<!DOCTYPE html>
<html>
	<head>
		<title>Research | Ho-Yi Sun</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<%- partial('components/script') %>
	</head>
	<body>

		<!-- Header -->
			<div id="header">
				<%- partial('components/nav') %>
			</div>			

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="container">
					<section class="feature">
						<div class="row 200%">
							<div class="10u 12u$(medium)">
								<header class="major">
									<h2>Publication and Patent</h2>
								</header>
								<p>Ho-Yi have published 5 papers in international journals as the first author and a patent in United States.</p>
								<ul class="actions">
									<li><a href="/research/publication" class="button alt">View All</a></li>
								</ul>
							</div>
							<div class="2u$ 12u$(medium) important(medium)">
								<span class="image fit rounded">
									<img src="/images/research/paper.jpg"/>
								</span>
							</div>
						</div>
					</section>
					<section class="feature">
						<div class="row 200%">
							<div class="2u 12u$(medium)">
								<span class="image fit rounded">
									<img src="/images/research/seminar.jpg" class="rounded" />
								</span>
							</div>
							<div class="10u$ 12u$(medium)">
								<header class="major">
									<h2>Conference</h2>
								</header>
								<p>Ho-Yi is excel in presentation communication and attending 5 international conferences.</p>
								<ul class="actions">
									<li><a href="/research/conference" class="button alt">View All</a></li>
								</ul>
							</div>
						</div>
					</section>
				</div>
			</section>

		<%- partial('components/footer') %>

	</body>
</html>