<!DOCTYPE html>
<html>
	<head>
		<title>Resume | Ho-Yi Sun</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<%- partial('components/script') %>

	</head>
	<body>

		<!-- Header -->
			<div id="header">

				<%- partial('components/nav') %>

			</div>

		<!-- Main -->
			<section id="main">
				<div class="container">
					<header class="major">
						<h2>孫合毅 Ho-Yi Sun</h2>
						<p><a href="mailto:iansuny@gmail.com">iansuny@gmail.com</a></p>
					</header>
					<div class="row 200%">
						<div class="10u 12u$(medium)">

								<section id="sidebar">
									<section>
										<h2>Qualification</h2>
										<ul>
											<li>Theoretical and practical knowledge gained from research environment and real live business challenges.</li>
											<li>Research driven analyzing skills with 4 papers on international journals and 1 US patent.</li>
											<li>Excel in presentation communication and attending 5 international conferences.</li>
											<li>Leadership experience in consulting project, entrepreneurship and student association.</li>
										</ul>
									</section>
									<hr />
									<section>
										<h2>Education</h2>
										<header>
											<h4>National Taiwan University (2016)</h4>
											<p>
												Master of Science in Polymer Science and Engineering
												<br />
												Biointerface Engineering Laboratory
											</p>
										</header>
										<header>
											<h4>National Taiwan University (2014)</h4>
											<p>
												Bachelor of Science in Chemical Engineering
												<br />
												Creativity and Entrepreneurship Program
												<br />
												Art and Design Program</p>
										</header>
									</section>
									<hr />
									<section>
										<h2>Experience</h2>
										<header>
											<h4>Training Project of The Boston Consulting Group (2016)</h4>
											<p>Fellow and Project Leader</p>
										</header>
										<header>
											<h4>Papid’s House Social Innovation Project (2015)</h4>
											<p>Project Director</p>
										</header>
										<header>
											<h4>ATCC Case Competition (2014)</h4>
											<p>Representative of IBM, 3rd Place in Final Round</p>
										</header>
										<header>
											<h4>National Science Technology Program-Energy Master Project of National Science Council  (2013)</h4>
											<p>Research Assistant</p>
										</header>
									</section>
									<hr />
									<section>
										<h2>Leadership</h2>
										<header>
											<h4>National Taiwan University Creativity and Entrepreneurship Program  (2015)</h4>
											<p>President</p>
										</header>
									</section>
								</section>

						</div>
						<div class="2u$ 12u$(medium) important(medium)">

								<section id="content">
									<a class="image fit"><img src="images/avator.jpg"/></a>
								</section>

						</div>
					</div>
				</div>
			</section>

		<%- partial('components/footer') %>
			
	</body>
</html>